<?php
declare(strict_types=1);

namespace App\Middlewares;

use Forge\Core\DI\Attributes\Service;
use Forge\Core\Http\Middleware;
use Forge\Core\Http\Request;
use Forge\Core\Http\Response;

#[Service]
final class {{ middlewareName }} extends Middleware
{
	public function handle(Request $request, callable $next): Response
	{
		// Middleware logic here
		$response = $next($request);
		
		return $response;
	}
}
