APP_ENV=development
FORGE_APP_DEBUG=true
FORGE_APP_KEY=

FORGE_APP_NAME=Forge

# Events
FORGE_EVENT_QUEUE_DRIVER=synce

# Database
# mysql, sqlite, memory, pgsql, redis
FORGE_DB_CONNECTION=mysql
# Mysql
FORGE_DB_PORT=3306
FORGE_DB_HOST=127.0.0.1
FORGE_DB_USERNAME=root
FORGE_DB_PASSWORD=root
FORGE_DB_DATABASE=forge
# Potgresql
FORGE_DB_PGSQL_HOST=127.0.0.1
FORGE_DB_PGSQL_PORT=5432
FORGE_DB_PGSQL_DATABASE=forge
FORGE_DB_PGSQL_USERNAME=postgres
FORGE_DB_PGSQL_PASSWORD=postgres
FORGE_DB_PGSQL_CHARSET=utf8
# Default SSL mode, adjust as needed ('disable', 'allow', 'prefer', 'require', 'verify-ca', 'verify-full')
FORGE_DB_PGSQL_SSLMODE=disable
FORGE_DB_PGSQL_SSL_CA=
FORGE_DB_PGSQL_SSL_CERT=
FORGE_DB_PGSQL_SSL_KEY=
FORGE_DB_PGSQL_SSL_VERIFY_PEER=
FORGE_DB_PGSQL_SSL_VERIFY_PEER_NAME=
# Redis
FORGE_DB_REDIS_PORT=6379
FORGE_DB_REDIS_HOST=127.0.0.1
FORGE_DB_REDIS_PASSWORD=
FORGE_DB_REDIS_DATABASE=0
FORGE_DB_REDIS_TIMEOUT=30