# APP
APP_NAME="Forge Kernel"
APP_ENV=development
APP_DEBUG=true
APP_KEY=your-secret-key
VIEW_CACHE=

# CACHE
CACHE_DRIVER=sqlite

# Security
IP_WHITE_LIST=[127.0.0.1, ::1]
CORS_ALLOWED_ORIGINS=["http://localhost:8000", "https://forge-v3.test"]
CORS_ALLOWED_METHODS=['GET, POST, PUT, PATCH, DELETE, OPTIONS']
CORS_ALLOWED_HEADERS=['Content-Type', 'Authorization']

SESSION_SECURE=true
COOKIE_SECURE=true
CSRF_STRICT_SCHEME=true
TRUST_PROXIES=true

#Queue
#drivers=Database|in-memory|file
QUEUE_DRIVER=database
QUEUE_LIST=[default,cache_refresh]

#Database
DB_DRIVER=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=forge_v3
DB_USER=root
DB_PASS=root
SQLITE_PATH=/storage/database
SQLITE_DB=/database.sqlite

# Session Configuration
SESSION_DRIVER=memory
SESSION_DB_PATH=/storage/framework/security.sqlite
SESSION_NAME=FORGE_SESSID
SESSION_LIFETIME=1440
SESSION_PATH=/
SESSION_DOMAIN=
SESSION_SECURE=true
SESSION_HTTPONLY=true
SESSION_SAMESITE=Lax

# Cookie Defaults
COOKIE_PATH=/
COOKIE_DOMAIN=
COOKIE_SECURE=true
COOKIE_HTTPONLY=true
COOKIE_SAMESITE=Lax

# Rate Limit Configuration
RATE_LIMIT_DRIVER=sqlite
RATE_LIMIT_DB_PATH=/storage/framework/security.sqlite
RATE_LIMIT_MAX_REQUESTS=100
RATE_LIMIT_TIME_WINDOW=60

# Circuit Breaker Configuration
CIRCUIT_BREAKER_DRIVER=sqlite
CIRCUIT_BREAKER_DB_PATH=/storage/framework/security.sqlite
CIRCUIT_BREAKER_MAX_FAILURES=50
CIRCUIT_BREAKER_RESET_TIME=300

# Customize logging
LOG_DRIVER=file
LOG_PATH=/storage/logs/forge.log

# Mail configuration
MAIL_DRIVER="smtp" # Options: smtp, sendmail, mailgun, etc.
MAIL_HOST="localhost"
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM="no-reply@forge.com"
MAIL_ENCRYPTION="none" # Options: tls, ssl, none

# File Storage
FILE_STORAGE_PATH=public/storage/files
FILE_STORAGE_DRIVER=local # Options: local

#Package Manager Github Access Token
GITHUB_TOKEN=your-access-token

FORGE_DEVELOPER_MODE=false