{
	"$schema": "./../../engine/Core/Schema/module-schema.json",
	"name": "{{ moduleName }}",
	"version": "{{ moduleVersion }}",
	"description": "{{ moduleDescription }}",
	"type": "generic",
	"order": 100,
	"cli": {
		"commands": []
	},
	"tags": [],
	"config": {
		"defaults": {}
	},
	"author": "Your name",
	"license: ""
}