<?php

namespace Forge\Modules\{{ moduleName }};

use Forge\Modules\{{ moduleName }}\Contracts\{{ interfaceName }};
use Forge\Core\Helpers\Debug;

class {{ className }} implements {{ interfaceName }}
{
    public function __construct()
    {
        
    }
    public function test(): void
    {
        // Module logic here
        Debug::message("[{{ moduleName }}Module] Called", "start"); // Example log
    }
}