<?php

namespace {{ namespace }};

use Forge\Core\Contracts\Http\Middleware\MiddlewareInterface;
use Forge\Http\Request;
use Forge\Http\Response;
use Closure;

class {{ name }} extends MiddlewareInterface
{
    public function handle(Request $request, Closure $next): Response
    {
        // Your Middleware logic here

        return $next($request);
    }
}