<?php

namespace {{ namespace }};

use Forge\Core\Models\Model;

/**
 * @property int $id The ID of the user.
 * @property string $name The name of the user.
 */
class {{ name }} extends Model
{
    protected static ?string $table = '{{ table }}';
    protected array $fillable = ['name'];
}